* {
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root {
    --navbar-height: 59px;
}

/* Navigation bar */
#navbar {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    top: 0px;


}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    

    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 47.6;
}

#navbar ul {
    display: flex;


}

#navbar ul li {
    padding: 2px;
    /* background-image: black; */

    list-style-type: none;
    font-size: 1.3rem;
}



/* Navigation Bar : Logo and Image */
#logo {
    margin: 19px 20px;

}

#logo img {
    height: 59px;
    margin: 4px 6px;
}

/* Navigation Bar : List Styling */


#navbar ul li a {
    padding: 27px;
    text-decoration: none;
    display: block;
    border-radius: 20px;
    color: white;
}

#navbar ul li a:hover {
    padding: 27px;
    text-decoration: none;
    display: block;
    border-radius: 15px;
    color: black;
    background-color: white;
}



/* Home Section */
#Home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 520px;
    justify-content: center;
    align-items: center;
}

#Home::before {
    content: "";
    background: url("IMG/Bg-img.jpg") no-repeat center center/cover;
    position: absolute;
    height: 612px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
    top: 0px;
    left: 0px;
}

/* Services Section */
#services {
    margin: 34px;
    display: flex;
}

#services .box {
    border: 2px solid maroon;
    padding: 34px;
    margin: 3px 35px;
    border-radius: 28px;
    background-color: rgb(198, 190, 174);
    margin-bottom: 25px;
}


#services .box img {
    height: 140px;
    display: block;
    margin: auto;
}

/* clients section */
#client-section{
     /* height: 344px; */
     position: relative;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 130px;
}

.client-items{
    padding: 35px;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url("IMG/salad-2068220_1280.jpg") no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}
/* Contact Section */

#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    background: url("IMG/36611-2-salad.png")no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 12px;
    border: 2px solid rgb(13, 106, 211);
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Mooli', sans-serif;
}


/* utility classes */
.h-primary {
    font-size: 2.5rem;
    padding: 12px;
}

.h-secondary {
    font-size: 2.0rem;
    padding: 12px;
    font-family: 'Mooli', sans-serif;

}

#Home h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

#Home p {
    text-align: center;
    font-size: 1.5rem;
    color: maroon;
    font-family: 'Mooli', sans-serif;
}

.btn {
    border: 2px solid black;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 8px;
    margin: 17px;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn:hover {

    background-color: brown;
    color: white;
}
.btn2:hover {

    background-color: brown;
    color: white;
}

.center {
    text-align: center;
}
footer{
    background-color: black;
    color: white;
    height: 34px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 14px;
    
  
}
.btn2{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 8px;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 34px auto;
    padding: 5px;
}
